<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/css/img/logo/logoJSoft.png}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> JSoft | O Futuro dos caninos </title>
</head> 
<body>

    <nav class="nav">
        <div class="nav-logo">
            <span class="nav-a"> JSoft |</span> <span class="nav-b"> O futuro dos caninos </span>
        </div>
        <div class="nav-menu">
            <ul>
                    <li><a href="/"> Home </a></li>
                    <li><a href="/sobre"> Sobre </a></li>
                    <li><a class="dropdown" href="/funcionario/list"> Gerência de Funcionário </a></li>
                    <li><a class="dropdown" href="/projeto/list"> Gerência de Projeto </a></li>
                    <li><a href="/login"> Faça Login </a></li> ou 
                    <li><a href="/login"> Cadastre-se </a></li>
                    <!-- <ul>
                        <li>
                            <a href="#"> Lista de Funcionários </a>
                            <a href="#"> Lista de Projetos </a>
                            <a href="#"> Adicionar Funcionário </a>
                            <a href="#"> Adicionar Projeto </a>
                        </li>
                    </ul> -->
            </ul>
        </div>
    </nav>
         <button title="Ativar/Desativar Modo Escuro" class="btn-dark-mode" onclick="toggleDarkMode()">
             <i class="fa fa-sun"></i> </button>  

    <main class="main">
            <h1> Vamos entrar? </h1>
        <form th:action="@{login/save}">
            <label for="inputEmail"> Endereço de email </label>
            <input type="email" placeholder="Ex: nome@exemplo.com">
            <label for="inputSenha"> Senha </label>
            <input type="password" placeholder="Senha">
            <label for=""> Lembre-me </label>
            <input type="checkbox" name="Lembre-me"> 

        </form>

    </main>

    <!-- <div class="modal">
        <h2> Aviso </h2>
        <h4> Um minutinho da sua atenção! </h4>
        <p> Você está prestes a deletar um registro, essa ação é permanente... </p>
        <h4> Deseja continuar? </h4>
        <div class="modal-buttons">
            <button class="modal-buttons-delete"> Sim, deletar </button>
            <button class="modal-buttons-cancel"> Não, cancelar </button>
        </div>
    </div> -->

<footer class="footer">
        <p> JSoft é uma empresa PiSoft Ltda, PiCorp &copy; 2022. Todos os direitos reservados. <br>
            Encontre-nos </p>

        <div class="footer-content">

            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>

        </div>
</footer> 
</body>
<script th:src="@{js/script.js}"></script>
</html>