@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin glass{
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5rem);
}

@mixin heading{
    font-size: $fonte-title;
    color: $cor-primaria;
    font-family: $ff-title;
    text-decoration: underline;
}

@mixin heading-small{
    font-size: 2rem;
    color: $cor-primaria;
    font-family: $ff-body;
    text-decoration: underline;
    text-transform:  uppercase;
}

@mixin box-shadow{
    box-shadow: 0 0 .5rem rgb(0, 0, 0, 0.3);
}

$cor-primaria: hsl(83, 94%, 47%);
$cor-secundaria: hsl(120, 88%, 26%);
$cor-fundo: hsl(0, 0%, 93%);
// $bg-color-dark: hsl(0, 0%, 10%);
$ff-title: 'Satisfy';
$ff-body: 'IBM Plex Sans Arabic';
$fonte-body: 1rem;
$fonte-title: 4rem;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $cor-fundo;
    transition: background-color 1s, color 1s;
    font-family: $ff-body;
}

.main{
    @include flex;
    flex-direction: column;
    flex-wrap: wrap;

    h2{
        @include heading;
    }

    h1{
        @include heading;
    }

    &-row{
        @include flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &-card{
        flex: 30%;
        margin: 1%;
        max-width: 25%;
        flex-wrap: wrap;
        width: 100%;
        border-radius: 2rem;
        text-align: center;
        @include box-shadow;
        @include glass; 
    }

    .table{
        @include box-shadow;
        background-color: hsl(255, 100%, 100%);
        border-radius: 1rem;
        padding: 2rem;
        text-align: center;
        margin: 1rem;

        th{
            font-size: 1.1em;
        }

        td{
            padding: 1rem;

            a{
                color: $cor-secundaria;
            }
        }
    }

}

.nav{
    @include flex;
    @include glass;
    @include box-shadow;
    position: sticky;
    top: 0;
    height: 6.25rem;
    flex-wrap: row wrap;
    flex-grow: 1;
    flex-direction: row;
    background: hsla(0, 0%, 100%, 0.7);

    &-a{
        font-size: $fonte-title;
    }

    &-b{
        font-size: 2rem;
    }

    &-logo{
        flex: 45%;
        margin-left: 5%;
        font-family: $ff-title;
        color: $cor-primaria;
    }

    &-menu{
        flex: 45%;
        margin-right: 5%;
        text-align: right;

        ul{
            list-style: none;
            
            ul{
                
                a{
                    display: none;
                 }

             }

            li{
                display: inline-block;
                
            }
        }

        a{
            position: relative;
            text-decoration: none;
            color: $cor-primaria;
            padding: 1rem 1rem;
            font-weight: 700;
            
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: currentColor;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: center;
                transform-origin: center;
                transition: -webkit-transform 250ms ease-in;
            }

            &:hover::after{
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    -webkit-transform-origin: center;
                    transform-origin: center;
                }
            }
        }
    }

    .btn-dark-mode{
        @include box-shadow;
        border: none;
        border-radius: 2rem;
        height: 2.5rem;
        width: 2.5rem;
        margin: 1%;
        font-size: 1.5rem;
        background: $cor-primaria;
        color: hsl(255, 100%, 100%);
        position: fixed;
        bottom: 0;
        right: 0;
        transition: border-radius .75s, color .75s;
        z-index: 9999;

        &:hover{
            cursor: pointer;
            border-radius: .5rem;
            color: hsl(60, 82%, 57%);
        }
    }

    .header{
        text-align: center;

        h2{
            @include heading;
        }

        img{
            background-size: cover;
        }
    }

    .footer{
        @include flex;
        @include glass;
        @include box-shadow;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        flex-direction: column;

        &-content{
            @include flex;
            flex-direction: row;
            flex-wrap: wrap;
            color: $cor-primaria;
            font-size: 1.5rem;
        }

        p{
            color: $cor-primaria;
            text-align: center;
        }
    }

    .modal{
        @include flex;
        @include box-shadow;
        background: hsl(255, 100%, 100%);
        flex-direction: row;
        flex-wrap: wrap;
        width: 32rem;
        height: 20rem;
        border-radius: 3rem;
        text-align: center;

        &-close{
            background: none;
            border: none;
            font-size: 2rem;
            color: hsl(0, 100%, 50%);
        }

        &-perm{
            color: hsl(0, 100%, 50%);
            font-weight: bold;
            text-transform: uppercase
        }

        &-title{
            @include flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-grow: 1;
            border-bottom: 1px solid $cor-primaria;

            h2{
                @include heading;
            }

            h4{
                font-size: 1rem;
                color: $cor-primaria;
                text-transform: uppercase
            }
        }

        &-buttons{
            @include flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            &-delete{
                padding: 1rem;
                color: hsl(0, 100%, 50%);
                background: hsl(255, 100%, 100%);
                border-radius: 2rem;
                font-weight: bold;
                margin-inline: 1rem;
                border: .1rem solid hsl(0, 100%, 50%);
                transition: color 250ms, background 250ms; 

                &:hover{
                    cursor: pointer;
                    color: hsl(255, 100%, 100%);
                    background: hsl(0, 100%, 50%);
                }
            }

            &-cancel{
                padding: 1rem;
                color: hsl(0, 0%, 20%);
                background: hsl(0, 0%, 65%);
                border-radius: 2rem;
                border: none;
                font-weight: bold;
                transition: color 250ms, background 250ms;
                
                &:hover{
                    cursor: pointer;
                    background: hsl(0, 0%, 10%);
                    color: hsl(255, 100%, 100%);
                }
            }
        }
    }

    .texto-top{
        @include flex;
        margin-top: 2rem;

        &-btn{
            @include box-shadow;
            color: $cor-secundaria;
            padding: 1rem;
            text-decoration: none;
            border-radius: 2rem;
            transition: 1s;

            &:hover{
            color: hsl(255, 100%, 100%);
            background-image: linear-gradient($cor-primaria, $cor-secundaria);
            
            }
        }
    }

