@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin glass{
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5rem);
}

@mixin heading{
    font-size: $fonte-title;
    color: $cor-primaria;
    font-family: $ff-title;
    text-decoration: underline;
}

@mixin heading-small{
    font-size: 2rem;
    color: $cor-primaria;
    font-family: $ff-body;
    text-decoration: underline;
    text-transform:  uppercase;
}

@mixin box-shadow{
    box-shadow: 0 0 .5rem rgb(0, 0, 0, 0.3);
}

$cor-primaria: hsl(83, 94%, 47%);
$cor-secundaria: hsl(120, 88%, 26%);
$cor-fundo: hsl(0, 0%, 93%);
$bg-transparent: hsl(255, 100%, 100%, 0.7);
$branco: hsl(255, 100%, 100%);
// $bg-color-dark: hsl(0, 0%, 10%);
$ff-title: 'Satisfy';
$ff-body: 'IBM Plex Sans Arabic';
$fonte-body: 1rem;
$fonte-title: 4rem;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $cor-fundo;
    transition: background-color 1s, color 1s;
    font-family: $ff-body;
}
// #############
// Media Queries
// #############

@media screen and (max-width: 780px) {
    .nav-a{
        display: none;
    }

    .nav-b{
        display: none;
    }

    .logo-res{    
        display: block; 
        
    }
    .nav-menu li>a{
      display: none;
    }


    .nav-menu a.icone {
      float: right;
      display: block;
    }
  }

@media screen and (max-width:780px){
    .nav-menuresponsive {position: relative;}
    .nav-menuresponsive a.icone{
        position: absolute;
        top: 0;
        right: 0;
    }
    
   .nav-menuresponsive a{
        float: none;
        display: inline-block;
        text-align: left;
    }

}


// ################
// Início Navegação
// ################

.nav{
    @include flex;
    @include glass;
    @include box-shadow;
    position: sticky;
    top: 0;
    background: $bg-transparent;
    flex-direction: row;
    width: 100%;
    height: 6rem;


    &-menu{
        margin-right: 5%;

        .icone{
            display: none;
        }
    }

    &-logo{
        margin-left: 5%;
        flex-grow: 2;
        
    }

    .logo-res{
        display: none;
        color: $cor-primaria;
        font-size: 1rem;
        font-family: $ff-title;
        clear: both;
    }

    &-a, &-b{
        font-family: $ff-title;
        color: $cor-primaria;
    }

    &-a{
        
        font-size: 3rem;
    }

    &-b{
        font-size: 2rem;
    }

    ul{
        list-style: none;

        li{
            display: inline;

            a{
                position: relative;
                color: $cor-primaria;
                text-decoration: none;
                padding: .4rem .7rem;
                line-height: 2;

                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: currentColor;
                    transform: scaleX(0);
                    -webkit-transform: scaleX(0);
                    transform-origin: center;
                    transition: transform 350ms ease-in-out;
                }

                &:hover::after{
                    transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                    transform-origin: center;
                    -webkit-transform-origin: center;
                }
            }
              
        }
    }

}

.dropdown{
    display: inline;
    position: relative;

    &:hover &-content{
        display: block
    }

    &-content{
        @include box-shadow;
        display: none;
        position: absolute;
        min-width: 160px;
        background-color: hsl(255, 100%, 100%);
        z-index: 1;

        a{
            display: inline-block;
            color: $cor-primaria;
            text-decoration: none;
            width: 100%;
        }
    }
}

.dropbtn{
    display: inline;
}

.main{
    @include flex;
    flex-direction: column;
    flex-wrap: wrap;

    h2{
        @include heading;
    }

    h1{
        @include heading;
    }

    &-row{
        @include flex;
        flex-direction: row;
        flex-wrap: row wrap;
    }

    &-card{
        flex: 30%;
        margin: 1%;
        width: 33%;
        flex-wrap: wrap;
        border-radius: 2rem;
        text-align: center;
        @include box-shadow;
        @include glass; 
    }

    &-top{
        @include flex;
        margin-top: 2rem;

        a{
            color: hsl(0, 0%, 0%);
            background: $branco;
            padding: 1rem;
            text-decoration: none;
            border-radius: 2rem;
            margin-bottom: 1rem;
            transition: box-shadow 400ms, color 400ms;

           &:hover{
                box-shadow: 0 0 .5rem hsla(0, 0%, 0%, 0.146);
                color: $cor-primaria;
           }
        }
    }

    &-row{
        @include flex;
        flex-direction: row;
        flex-wrap: wrap;

        img{
            @include box-shadow;
            width: 10rem;
            height: 10rem;
            border-radius: 3rem;
        }

        &-card{
            @include flex;
            @include box-shadow;
            margin: 1%;
            flex-direction: column;
            flex: 25%;
            background-color: $branco;
            padding: 3rem;
            border-radius: 2rem;

            &-header{
                @include flex;
                flex-direction: row;

                &-title{
                    @include flex;
                    flex-direction: column;
                    }
        }

        }
    }

    table{
        @include box-shadow;
        background: $branco;
        padding: 3rem;
        text-align: center;
        border-radius: 2rem;

        th{
            color: $cor-primaria;
            font-weight: bold;
            font-size: 1.2em;
            text-align: center;
            padding: .5rem;
        }

        td{
            font-weight: 400;
            font-size: 1.1em;
            padding: 1rem;
        }

        a{
            color: $cor-primaria;
            padding: 1rem;
            border-radius: 50%;
            transition: color 700ms, background 700ms;

            &:hover{
                color: $cor-secundaria;
            }
        }
    }

    form{
        @include flex;
        @include box-shadow;
        flex-direction: column;
        background-color: $branco;
        padding: 3rem 12rem;
        border-radius: 2rem;

        input{
            border: 1px solid $cor-primaria;
            padding: 1rem;
            border-radius: 2rem;
            outline: none;
            max-width: 15rem;
            // input[type="date"]::-webkit-calendar-picker-indicator 
        }
    }
}

    .btn-dark-mode{
        @include box-shadow;
        border: none;
        border-radius: 2rem;
        height: 2.5rem;
        width: 2.5rem;
        margin: 1%;
        font-size: 1.5rem;
        background: $cor-primaria;
        color: hsl(255, 100%, 100%);
        position: fixed;
        bottom: 0;
        right: 0;
        transition: border-radius .75s, color .75s;
        z-index: 9999;

        &:hover{
            cursor: pointer;
            border-radius: .5rem;
            color: hsl(60, 82%, 57%);
        }
    }

    .header{
        text-align: center;

        h2{
            @include heading;
        }

        img{
            background-size: cover;
        }
    }

    .footer{
        @include flex;
        @include glass;
        @include box-shadow;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        flex-direction: column;

        &-content{
            @include flex;
            flex-direction: row;
            flex-wrap: wrap;
            color: $cor-primaria;
            font-size: 1.5rem;
        }

        p{
            color: $cor-primaria;
            text-align: center;
        }
    }

    .modal{
        @include flex;
        @include box-shadow;
        background: hsl(255, 100%, 100%);
        flex-direction: row;
        flex-wrap: wrap;
        width: 32rem;
        height: 20rem;
        border-radius: 3rem;
        text-align: center;

        &-close{
            background: none;
            border: none;
            font-size: 2rem;
            color: hsl(0, 100%, 50%);
        }

        &-perm{
            color: hsl(0, 100%, 50%);
            font-weight: bold;
            text-transform: uppercase
        }

        &-title{
            @include flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-grow: 1;
            border-bottom: 1px solid $cor-primaria;

            h2{
                @include heading;
            }

            h4{
                font-size: 1rem;
                color: $cor-primaria;
                text-transform: uppercase
            }
        }

        &-buttons{
            @include flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            &-delete{
                padding: 1rem;
                color: hsl(0, 100%, 50%);
                background: hsl(255, 100%, 100%);
                border-radius: 2rem;
                font-weight: bold;
                margin-inline: 1rem;
                border: .1rem solid hsl(0, 100%, 50%);
                transition: color 250ms, background 250ms; 

                &:hover{
                    cursor: pointer;
                    color: hsl(255, 100%, 100%);
                    background: hsl(0, 100%, 50%);
                }
            }

            &-cancel{
                padding: 1rem;
                color: hsl(0, 0%, 20%);
                background: hsl(0, 0%, 65%);
                border-radius: 2rem;
                border: none;
                font-weight: bold;
                transition: color 250ms, background 250ms;
                
                &:hover{
                    cursor: pointer;
                    background: hsl(0, 0%, 10%);
                    color: hsl(255, 100%, 100%);
                }
            }
        }
    }
