@import url("http://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0deg, 0%, 93%);
  transition: background-color 1s, color 1s;
  font-family: "IBM Plex Sans Arabic";
}

@media screen and (max-width: 780px) {
  .nav-a {
    display: none;
  }

  .nav-b {
    display: none;
  }

  .logo-res {
    display: block;
  }

  .nav-menu li > a {
    display: none;
  }

  .nav-menu a.icone {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 780px) {
  .nav-menuresponsive {
    position: relative;
  }

  .nav-menuresponsive a.icone {
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav-menuresponsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  background: hsla(255deg, 100%, 100%, 0.7);
  flex-direction: row;
  width: 100%;
  height: 6rem;
}
.nav-menu {
  margin-right: 5%;
}
.nav-menu .icone {
  display: none;
}
.nav-logo {
  margin-left: 5%;
  flex-grow: 2;
}
.nav .logo-res {
  display: none;
  color: hsl(83deg, 94%, 47%);
  font-size: 1rem;
  font-family: "Satisfy";
  clear: both;
}
.nav-a, .nav-b {
  font-family: "Satisfy";
  color: hsl(83deg, 94%, 47%);
}
.nav-a {
  font-size: 3rem;
}
.nav-b {
  font-size: 2rem;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  display: inline;
}
.nav ul li a {
  position: relative;
  color: hsl(83deg, 94%, 47%);
  text-decoration: none;
  padding: 0.4rem 0.7rem;
  line-height: 2;
}
.nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform-origin: center;
  transition: transform 350ms ease-in-out;
}
.nav ul li a:hover::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform-origin: center;
  -webkit-transform-origin: center;
}
.nav ul li a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3rem;
  background-color: hsl(120deg, 88%, 26%);
  transform: scaleX(0.3);
  -webkit-transform: scaleX(0.3);
  transform-origin: center;
  -webkit-transform-origin: center;
}

.dropdown {
  display: inline;
  position: relative;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: hsl(255deg, 100%, 100%);
  z-index: 1;
}
.dropdown-content a {
  display: inline-block;
  color: hsl(83deg, 94%, 47%);
  text-decoration: none;
  width: 100%;
}

.dropbtn {
  display: inline;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  width: 100%;
  flex-direction: column;
  text-align: center;
  color: hsl(83deg, 94%, 47%);
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.main h2 {
  font-size: 4rem;
  color: hsl(83deg, 94%, 47%);
  font-family: "Satisfy";
  text-decoration: underline;
}
.main h1 {
  font-size: 4rem;
  color: hsl(83deg, 94%, 47%);
  font-family: "Satisfy";
  text-decoration: underline;
}
.main-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: row wrap;
}
.main-card {
  flex: 30%;
  margin: 1%;
  width: 33%;
  flex-wrap: wrap;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}
.main-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.main-top a {
  color: hsl(0deg, 0%, 0%);
  background: hsl(255deg, 100%, 100%);
  padding: 1rem;
  text-decoration: none;
  border-radius: 2rem;
  margin-bottom: 1rem;
  transition: box-shadow 400ms, color 400ms;
}
.main-top a:hover {
  box-shadow: 0 0 0.5rem hsla(0deg, 0%, 0%, 0.146);
  color: hsl(83deg, 94%, 47%);
}
.main-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-row img {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  width: 10rem;
  height: 10rem;
  border-radius: 3rem;
}
.main-row-card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  margin: 1%;
  flex-direction: column;
  flex: 25%;
  background-color: hsl(255deg, 100%, 100%);
  padding: 3rem;
  border-radius: 2rem;
}
.main-row-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.main-row-card-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main table {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  background: hsl(255deg, 100%, 100%);
  padding: 3rem;
  text-align: center;
  border-radius: 2rem;
}
.main table th {
  color: hsl(83deg, 94%, 47%);
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 0.5rem;
}
.main table td {
  font-weight: 400;
  font-size: 1.1em;
  padding: 1rem;
}
.main table tr:nth-child(even) {
  background-color: hsla(83deg, 94%, 47%, 0.4);
}
.main table a {
  color: hsl(83deg, 94%, 47%);
  padding: 1rem;
  border-radius: 50%;
  transition: color 700ms, background 700ms;
}
.main table a:hover {
  color: hsl(120deg, 88%, 26%);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  flex-direction: column;
  background-color: hsl(255deg, 100%, 100%);
  padding: 3rem 12rem;
  border-radius: 2rem;
}
form input {
  border: 1px solid hsl(0deg, 0%, 65%);
  padding: 1rem;
  border-radius: 2rem;
  outline: none;
  max-width: 15rem;
  transition: all 750ms;
}
form input:focus {
  border: 1px solid hsl(83deg, 94%, 47%);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.button {
  background-color: rgb(169, 169, 169);
  border-radius: 50%;
  padding: 1rem;
  border: none;
  color: hsl(255deg, 100%, 100%);
  transition: width 1s, border-radius 1s;
}

.accept {
  cursor: pointer;
  border-radius: 50%;
  transition: all 1s;
}
.accept span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.accept span::after {
  content: "Entrar";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}
.accept:hover {
  background-color: hsl(120deg, 88%, 26%);
  width: 9rem;
  border-radius: 2rem;
  transition: all 1s;
}
.accept:hover span {
  padding-right: 3rem;
}
.accept:hover span::after {
  opacity: 1;
  right: 0;
}

.save {
  cursor: pointer;
  border-radius: 50%;
  transition: all 1s;
}
.save span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.save span::after {
  content: "Enviar";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}
.save:hover {
  background-color: hsl(120deg, 88%, 26%);
  width: 9rem;
  border-radius: 2rem;
  transition: all 1s;
}
.save:hover span {
  padding-right: 3rem;
}
.save:hover span::after {
  opacity: 1;
  right: 0;
}

.refuse {
  cursor: pointer;
  border-radius: 50%;
}
.refuse span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.refuse span::after {
  content: "Voltar";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}
.refuse:hover {
  background-color: hsl(0deg, 100%, 50%);
  width: 9rem;
  border-radius: 2rem;
  transition: width 1s, border-radius 500ms;
}
.refuse:hover span {
  padding-right: 3rem;
}
.refuse:hover span::after {
  opacity: 1;
  right: 0;
}

.cancel {
  cursor: pointer;
  border-radius: 50%;
}
.cancel span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.cancel span::after {
  content: "Abortar";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 4rem;
  transition: 0.5s;
}
.cancel:hover {
  background-color: hsl(0deg, 100%, 50%);
  width: 9rem;
  border-radius: 2rem;
  transition: width 1s, border-radius 500ms;
}
.cancel:hover span {
  padding-right: 3rem;
}
.cancel:hover span::after {
  opacity: 1;
  right: 0;
}

.btn-dark-mode {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  margin: 1%;
  font-size: 1.5rem;
  background: hsl(83deg, 94%, 47%);
  color: hsl(255deg, 100%, 100%);
  position: fixed;
  bottom: 0;
  right: 0;
  transition: border-radius 0.75s, color 0.75s;
  z-index: 9999;
}
.btn-dark-mode:hover {
  cursor: pointer;
  border-radius: 0.5rem;
  color: hsl(60deg, 82%, 57%);
}

.header {
  text-align: center;
}
.header h2 {
  font-size: 4rem;
  color: hsl(83deg, 94%, 47%);
  font-family: "Satisfy";
  text-decoration: underline;
}
.header img {
  background-size: cover;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  background: hsl(255deg, 100%, 100%);
  flex-direction: row;
  flex-wrap: wrap;
  width: 32rem;
  height: 20rem;
  border-radius: 3rem;
  text-align: center;
}
.modal-close {
  background: none;
  border: none;
  font-size: 2rem;
  color: hsl(0deg, 100%, 50%);
}
.modal-perm {
  color: hsl(0deg, 100%, 50%);
  font-weight: bold;
  text-transform: uppercase;
}
.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  border-bottom: 1px solid hsl(83deg, 94%, 47%);
}
.modal-title h2 {
  font-size: 4rem;
  color: hsl(83deg, 94%, 47%);
  font-family: "Satisfy";
  text-decoration: underline;
}
.modal-title h4 {
  font-size: 1rem;
  color: hsl(83deg, 94%, 47%);
  text-transform: uppercase;
}
.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.modal-buttons-delete {
  padding: 1rem;
  color: hsl(0deg, 100%, 50%);
  background: hsl(255deg, 100%, 100%);
  border-radius: 2rem;
  font-weight: bold;
  margin-inline: 1rem;
  border: 0.1rem solid hsl(0deg, 100%, 50%);
  transition: color 250ms, background 250ms;
}
.modal-buttons-delete:hover {
  cursor: pointer;
  color: hsl(255deg, 100%, 100%);
  background: hsl(0deg, 100%, 50%);
}
.modal-buttons-cancel {
  padding: 1rem;
  color: hsl(0deg, 0%, 20%);
  background: hsl(0deg, 0%, 65%);
  border-radius: 2rem;
  border: none;
  font-weight: bold;
  transition: color 250ms, background 250ms;
}
.modal-buttons-cancel:hover {
  cursor: pointer;
  background: hsl(0deg, 0%, 10%);
  color: hsl(255deg, 100%, 100%);
}

/*# sourceMappingURL=style.css.map */
