@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0deg, 0%, 93%);
  transition: background-color 1s, color 1s;
  font-family: "IBM Plex Sans Arabic";
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.main h2 {
  font-size: 4rem;
  color: hsl(83deg, 94%, 47%);
  font-family: "Satisfy";
  text-decoration: underline;
}
.main h1 {
  font-size: 4rem;
  color: hsl(83deg, 94%, 47%);
  font-family: "Satisfy";
  text-decoration: underline;
}
.main-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-card {
  flex: 30%;
  margin: 1%;
  max-width: 25%;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}
.main .table {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  background-color: hsl(255deg, 100%, 100%);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  margin: 1rem;
}
.main .table th {
  font-size: 1.1em;
}
.main .table td {
  padding: 1rem;
}
.main .table td a {
  color: hsl(120deg, 88%, 26%);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  height: 6.25rem;
  flex-wrap: row wrap;
  flex-grow: 1;
  flex-direction: row;
  background: hsla(0deg, 0%, 100%, 0.7);
}
.nav-a {
  font-size: 4rem;
}
.nav-b {
  font-size: 2rem;
}
.nav-logo {
  flex: 45%;
  margin-left: 5%;
  font-family: "Satisfy";
  color: hsl(83deg, 94%, 47%);
}
.nav-menu {
  flex: 45%;
  margin-right: 5%;
  text-align: right;
}
.nav-menu ul {
  list-style: none;
}
.nav-menu ul ul a {
  display: none;
}
.nav-menu ul li {
  display: inline-block;
}
.nav-menu a {
  position: relative;
  text-decoration: none;
  color: hsl(83deg, 94%, 47%);
  padding: 1rem 1rem;
  font-weight: 700;
}
.nav-menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  transition: -webkit-transform 250ms ease-in;
}
.nav-menu a:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.btn-dark-mode {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  margin: 1%;
  font-size: 1.5rem;
  background: hsl(83deg, 94%, 47%);
  color: hsl(255deg, 100%, 100%);
  position: fixed;
  bottom: 0;
  right: 0;
  transition: border-radius 0.75s, color 0.75s;
  z-index: 9999;
}
.btn-dark-mode:hover {
  cursor: pointer;
  border-radius: 0.5rem;
  color: hsl(60deg, 82%, 57%);
}

.header {
  text-align: center;
}
.header h2 {
  font-size: 4rem;
  color: hsl(83deg, 94%, 47%);
  font-family: "Satisfy";
  text-decoration: underline;
}
.header img {
  background-size: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: hsl(83deg, 94%, 47%);
  font-size: 1.5rem;
}
.footer p {
  color: hsl(83deg, 94%, 47%);
  text-align: center;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  background: hsl(255deg, 100%, 100%);
  flex-direction: row;
  flex-wrap: wrap;
  width: 32rem;
  height: 20rem;
  border-radius: 3rem;
  text-align: center;
}
.modal-close {
  background: none;
  border: none;
  font-size: 2rem;
  color: hsl(0deg, 100%, 50%);
}
.modal-perm {
  color: hsl(0deg, 100%, 50%);
  font-weight: bold;
  text-transform: uppercase;
}
.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  border-bottom: 1px solid hsl(83deg, 94%, 47%);
}
.modal-title h2 {
  font-size: 4rem;
  color: hsl(83deg, 94%, 47%);
  font-family: "Satisfy";
  text-decoration: underline;
}
.modal-title h4 {
  font-size: 1rem;
  color: hsl(83deg, 94%, 47%);
  text-transform: uppercase;
}
.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.modal-buttons-delete {
  padding: 1rem;
  color: hsl(0deg, 100%, 50%);
  background: hsl(255deg, 100%, 100%);
  border-radius: 2rem;
  font-weight: bold;
  margin-inline: 1rem;
  border: 0.1rem solid hsl(0deg, 100%, 50%);
  transition: color 250ms, background 250ms;
}
.modal-buttons-delete:hover {
  cursor: pointer;
  color: hsl(255deg, 100%, 100%);
  background: hsl(0deg, 100%, 50%);
}
.modal-buttons-cancel {
  padding: 1rem;
  color: hsl(0deg, 0%, 20%);
  background: hsl(0deg, 0%, 65%);
  border-radius: 2rem;
  border: none;
  font-weight: bold;
  transition: color 250ms, background 250ms;
}
.modal-buttons-cancel:hover {
  cursor: pointer;
  background: hsl(0deg, 0%, 10%);
  color: hsl(255deg, 100%, 100%);
}

.texto-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.texto-top-btn {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  color: hsl(120deg, 88%, 26%);
  padding: 1rem;
  text-decoration: none;
  border-radius: 2rem;
  transition: 1s;
}
.texto-top-btn:hover {
  color: hsl(255deg, 100%, 100%);
  background-image: linear-gradient(hsl(83deg, 94%, 47%), hsl(120deg, 88%, 26%));
}

/*# sourceMappingURL=style.css.map */
