/* Error: expected "{".
 *     ,
 * 110 | >>>>>>> 08f1d9643f5acb0a665004c7b30852fdf7d2534f
 *     |                                                 ^
 *     '
 *   static\sass\style.scss 110:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 110 \2502  >>>>>>> 08f1d9643f5acb0a665004c7b30852fdf7d2534f\d\a     \2502                                                  ^\a     \2575 \a   static\\sass\\style.scss 110:49  root stylesheet';
}
