<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/css/img/logo/logoJSoft.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> JSoft | Sobre </title>
</head> 
<body>
    <nav class="nav">
        <div class="nav-logo">
            <span class="nav-a"> JSoft |</span> <span class="nav-b"> O futuro dos caninos </span>
        </div>
    <div class="nav-menu">
                <ul class="nav-menu-main">
                    <li><a href="/"> Home </a></li>
                    <li><a class="active" href="/sobre"> Sobre </a></li>
                    <div class="dropdown">
                        <li><a class="dropbtn" href="#"> Gerência </a></li>
                        <div class="dropdown-content">
                            <li><a href="/funcionario/list"> Lista de Funcionários </a></li>
                            <li><a href="/funcionario/add"> Adicionar Funcionários </a></li>
                            <li><a href="/projeto/list"> Lista de Projetos </a></li>
                            <li><a href="/projeto/add"> Adicionar Projeto </a></li>
                        </div>
                    </div>
                    <li><a href="/login"> Faça Login </a></li>
                </ul>
        </div>
    </nav>
         <button title="Ativar/Desativar Modo Escuro" class="btn-dark-mode" onclick="toggleDarkMode()">
             <i class="fa fa-sun"></i> </button>  
    <br>
        <main class="main">
            <h3> Quem faz acontecer? </h3>
        <br>
    <div class="main-row">
    <div class="main-row-card">
        <div class="main-row-card-header">
        <img th:src="@{/css/img/Jade.jpg}" alt="">
        <div class="main-row-card-header-title">
        <h4> Jade </h4>
        <h6> Presidente, Fundadora</h6>
        </div>
        </div>
        <p> 
            A Jade Pi Santana Rassweiler Duarte é a fundadora peluda da empresa,
            a Jade também agora toma conta de todas as empresas PiCorp™, pois de acordo com a πblia, quando a Pi se fosse, ela voltaria como outro cão 1 dia depois.
        </p>
    </div>
    
    <div class="main-row-card">
        <img th:src="@{/css/img/me.jpg}" alt="">
        <div class="main-row-card-title">
        <h4> Bryan Rassweiler </h4>
        <h6> Co-Fundador, Desenvolvedor</h6>
        </div>
        <p> 
            Bryan Rassweiler é o único desenvolvedor das empresas PiCorp™ e JCorp™, e ele gostaria de utilizar deste espaço para dizer que nunca foi pago por isso.
        </p>
    </div>
    <div class="main-row-card">
        <img th:src="@{/css/img/cao.jpg}" alt="">
        <div class="main-row-card-title">
        <h4> Cães </h4>
        <h6> Funcionários</h6>
        </div>
        <p> 
            Sem nossos cães-funcionários, nada seria da JSoft™, é por causa deles que somos a empresa canina de tecnologia Nº1 na América Canina.
        </p>
    </div>
</div>

    <footer class="footer">
        <p> JSoft é uma empresa PiSoft Ltda, PiCorp &copy; 2022. Todos os direitos reservados. <br>
            Encontre-nos </p>

        <div class="footer-content">

            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>

        </div>
</body>
<script>
    function toggleDarkMode() {
    var dmBody = document.body;
    dmBody.classList.toggle("dark-mode");
  }
</script>
</html>