<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/css/img/logo/logoJSoft.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> JSoft | Projetos </title>
</head> 
<body>
    
  <nav class="nav">
    <div class="nav-logo">
        <span class="nav-a"> JSoft |</span> <span class="nav-b"> O futuro dos caninos </span>
    </div>
<div class="nav-menu">
            <ul class="nav-menu-main">
                <li><a href="/"> Home </a></li>
                <li><a href="/sobre"> Sobre </a></li>
                <div class="dropdown">
                    <li><a class="dropbtn" href="#"> Gerência </a></li>
                    <div class="dropdown-content">
                        <li><a href="/funcionario/list"> Lista de Funcionários </a></li>
                        <li><a href="/funcionario/add"> Adicionar Funcionários </a></li>
                        <li><a class="active" href="/projeto/list"> Lista de Projetos </a></li>
                        <li><a href="/projeto/add"> Adicionar Projeto </a></li>
                    </div>
                </div>
                <li><a href="/login"> Faça Login </a></li>
            </ul>
    </div>
</nav>

    <main class="main">

      <h1> Projetos JSoft </h1>

      <div class="main-top">
        <a href="./add"> Nova Entrada <i class="fa fa-plus"> </i></a>
      </div>

      

    <table style="overflow-x: auto;" class="table">
      <thead>
        <tr>
            <th class="header">ID</th>
              <th class="header">Nome</th>
                <th class="header">Data Início</th>
                  <th class="header">Data Final</th>
                  <th class="header">Status</th>
                <th class="header">Orçamento</th>
              <th class="header">Editar</th>
        <tr>  
      </thead>
      <tbody>
          <tr th:each="projeto:${projetos}">
            <th scope="row" th:text="${projeto.id}"></th>
                <td th:text="${projeto.nome}"></td>
                <td th:text="${#dates.format(projeto.dataInicial, 'dd-MM-yyyy')}"></td>
                 <td th:text="${#dates.format(projeto.dataFinal, 'dd-MM-yyyy')}"></td>
                 <td th:text="${projeto.status}"></td>
                 <td th:text="${'R$' + #numbers.formatDecimal(projeto.orcamento,1,'DEFAULT',2,'DEFAULT')}"></td>
                <td colspan="2"> <a class="botaoadd" th:href="@{'./edit/' + ${projeto.id}}"><i class="fa fa-pencil"></i></a></td>
          </tr>
    </tbody>
      </table>

    </main>
    <br>
</div>
<footer class="footer">
  <p> JSoft é uma empresa PiSoft Ltda, PiCorp &copy; 2022. Todos os direitos reservados. <br>
      Encontre-nos </p>

  <div class="footer-content">

      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>

  </div>
</footer> 
</body>
<script>
    function toggleDarkMode() {
    var dmBody = document.body;
    dmBody.classList.toggle("dark-mode");
  }
</script>
<script th:src="@{/js/temp.js}"></script>
</html>